@use 'variables' as *;
@use 'mixins' as *;

@import '@fontsource/golos-text/400.css';
@import '@fontsource/golos-text/500.css';
@import '@fontsource/golos-text/700.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: $font-family-base;
  line-height: $line-height-base;
  color: $color-text;
  background-color: $color-bg;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__main {
  flex: 1;
}

.container {
  @include container;
}
